<div id="home">
  <div id="toolbar" (click)="showElement('HOME')">
    <div id="toolbar-buttons">
      <button
        class="element-control-cool"
        (click)="showElement('GAME_LIFE'); $event.stopPropagation()"
      >
        Game of life
      </button>
      <button
        class="element-control-cool"
        (click)="showElement('SORTING'); $event.stopPropagation()"
      >
        Sorting
      </button>
    </div>
  </div>

  <div id="main-title-container" *ngIf="elementIdShowed === 'HOME'">
    <h1 class="main-title" id="main-title">stif.cool</h1>
    <h1 class="main-title shadow" id="main-title-shadow">stif.cool</h1>
  </div>

  <div id="grid-background-horizon"></div>

  <div id="grid-background"></div>

  <div #starsBackground id="stars-background"></div>

  <div class="element-container" *ngIf="elementIdShowed === 'GAME_LIFE'">
    <app-game-life></app-game-life>
  </div>

  <div class="element-container" *ngIf="elementIdShowed === 'SORTING'">
    <app-sorting></app-sorting>
  </div>

  <div
    id="backdrop"
    *ngIf="elementIdShowed !== 'HOME'"
    (click)="showElement('HOME')"
  ></div>
</div>
