@import "./../../../style-var.scss";

$sorting-width: 100%;
$sorting-height: 100%;

$sorting-element-color: $pink-color;
$sorting-element-selected-color: $pink-color;

#sorting-container {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  > #sorting {
    height: $sorting-height;
    width: $sorting-width;

    display: flex;
    flex-direction: column;

    > #sorting-board {
      height: 100%;
      width: 100%;

      display: flex;
      justify-content: center;
      align-items: flex-end;

      > .sorting-element {
        background-color: $sorting-element-color;
        box-shadow: inset 0px 0px 0px 1px $background-color;

        &.selected {
          filter: contrast(300%);
        }
      }
    }

    > #sorting-controls {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin-top: $controls-margin;

      > .sorting-controls-group {
        > .element-control-cool {
          &:not(:first-child) {
            margin-left: $controls-margin;
          }
        }
      }
    }
  }
}
