@import "./style-var.scss";

$star-color: #ffffff;
$cool-padding: 5px 20px;

body {
  margin: 0;
  padding: 0;

  overflow: hidden;
}

.star {
  position: absolute;

  background-color: $star-color;
  border-radius: 50%;

  // animation: appears 0.2s ease-in-out, shine 0.5s infinite;
}

.text-cool {
  color: $pink-color;

  font-weight: 300;
  font-size: 1.2rem;
  font-family: $impact-font;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 2px;
  white-space: nowrap;
}

.bordered-cool {
  border: 2px solid $pink-color;
  border-radius: $border-radius;
}

.element-control-cool {
  @extend .text-cool;
  @extend .bordered-cool;

  padding: $cool-padding;

  background-color: $background-color;

  transition: all 0.15s ease-in-out;
  cursor: pointer;
  filter: $blur-filter;

  &:hover {
    background-color: $pink-color;
    color: $background-color;
  }
}

@keyframes appears {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes shine {
  0% {
    box-shadow: 0 0 4px #ffffff;
  }

  100% {
    box-shadow: 0 0 1px #ffffff;
  }
}
