// COLORS

$purple0-color: #280657;
$purple1-color: #6e3db3;
$purple2-color: #7d5ea8;
$purple3-color: #9984b8;
$purple4-color: #efebf5;

$pink-color: rgb(214, 77, 232);

$background-color: rgb(6, 15, 49);

// SIZES

$buttons-margin: 20px;

// OTHERS

$blur-filter: blur(0.5px);
$impact-font: Impact, Charcoal, sans-serif;
$border-radius: 10px;
