$star-color: #ffffff;

body {
  margin: 0;
  padding: 0;

  overflow: hidden;
}

.star {
  position: absolute;

  background-color: $star-color;
  border-radius: 50%;

  animation: appears 0.2s ease-in-out, shine 0.5s infinite;
}

@keyframes appears {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes shine {
  0% {
    box-shadow: 0 0 4px #ffffff;
  }

  100% {
    box-shadow: 0 0 1px #ffffff;
  }
}
