<div id="game-life-container">
  <div id="game-life">
    <div id="game-life-grid">
      <div class="game-life-row" *ngFor="let row of board; trackBy: trackByFn">
        <div
          class="game-life-case"
          [ngClass]="{ full: case.full }"
          *ngFor="let case of row; trackBy: trackByFn"
          (click)="setCase(case)"
        ></div>
      </div>
    </div>

    <div id="game-life-controls">
      <button class="element-control-cool" (click)="triggerSteps()">
        <!-- <img
          [src]="running ? 'assets/icons/stop.svg' : 'assets/icons/start.svg'"
          class="element-control-cool-icon"
        /> -->
        {{ running ? "pause" : "start" }}
      </button>
      <button class="element-control-cool" (click)="nextStep()">
        next step
      </button>
      <button class="element-control-cool" (click)="clearGrid()">
        clear
      </button>
      <button class="element-control-cool" (click)="randomizeGrid()">
        randomize
      </button>
    </div>
  </div>
</div>
